body{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
}

.full{
  background-color: black;
  background-image: url(http://agentanswercenter.directv.com/en-us/res/system/img/tool_bg-09212015.jpg);
  background-repeat: no-repeat; 
  background-position: left -30px;
}

.clearfix{
  clear: both;
}

.chosen-container .chosen-results{
  max-height:460px;
}

select{
  width:220px;
}

.com select{
  width:280px;
}

.wrapper{
 width:950px;
 position: relative;
 padding: 0 15px;
}

.headers .first,
.headers .second
{
  width: 49.5%;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}

.headers .first {
  text-align: left;
}

.headers .requested{
  margin-left:46%;
}

.headers .com.requested{
  margin-left:36.7%;
}

.headers h1, .headers h2 {
  font-family: Arial, sans-serif;
  color: white;
}

.headers h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.75em;
}

.tool-title {
  margin-right: 50px;
}

.headers h2 {
  font-size: 1.25em;
  margin-top: 0;
  color: #333;
}

.border {
  background-color:#fff;
  margin-top: 5px;
  border: 3px solid #005D9E;
  border-radius: 16px;
  padding: 10px;
  height:580px;
}

table{
  width:100%;
  border: 1px solid #ccc;
}


.chosen-container{
  font-size:12px;
  text-align: left;
}

.requested-pkg-holder select,
.requested-pkg-holder .chosen-container
{
  margin-left: 160px;
}

.requested-pkg-holder.com select,
.requested-pkg-holder.com .chosen-container
{
  margin-left:120px;
}

.channels-count-holder .pull-left{
  width:25%;
  height:89px;  
}

.count{
  color:#337c31; /*default*/
  font-size: 40px;
  font-weight:bold;
  font-family: Verdana, Geneva, sans-serif;
  width:100px;
  height:50px;
  text-align: center;
  margin-left: 52px; /*default*/
  padding-top: 17px;
  cursor:pointer;
}

.channels-count-holder{  
  width:915px;
  background-image: url(http://agentanswercenter.directv.com/en-us/res/system/img/channels_back.png);
  background-position: 10px 0;
  background-repeat: no-repeat;  
}

.current.count{
  margin-left: 55px;
  color:#31517c;
}

.lost.count{
  margin-left: 50px;
  color:#d00404;
}

.requested.count{
  margin-left: 56px;
  color: #31517c; 
}

.table-header,
.channels-table-holder{
  width:23%;
  margin-left: 12px;
}

.table-header.double{
  width:46%;
}

.channels-table-holder{
  height:370px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:11px;
}

.channels-table-holder .table-wrapper a{
  color: #000;
  font-weight:bold;
  text-decoration:none;
}

.table-header a{
  color: #000;
}

.table-header .label-holder a{
  color:#000;
}

.table-header{
  height:17px;
}

.table-header .pull-left{
  width:22%;  
}

.table-header .pull-left.channel-name{
  width:55%;
}

.table-header a,
.channels-table-holder a
{
  text-decoration: underline;
}

.table-wrapper{
  height:370px;
  overflow-y:auto;
  overflow-x: hidden;  
  width: 100%;
}

.table-header.label{
  color:#000;
  font-size:13px;
}


.table-wrapper tr {
  height: 40px;
  padding: 3px 0;
}

.odd{
  background: #DEEDF7;
}

.even{
  background: #fff;
}

.table-header-inner{
  height:20px;
  width:100%;
  background-color:#E0E0E0;
}


.table-header .channel-number{
  padding-left:3px;
}

.table-header-inner a{
  display: block;
  background-repeat: no-repeat;
  background-position: 13px center; 
}

.genre a, .channel-name a{
  margin-left:-7px;
}


.sort-false,
.sort-true
{
  background-image:none;
}

.channel-name .sort-false,
.channel-name .sort-true
{
  background-position: 94px center;
}

.genre .sort-false,
.genre .sort-true
{
  background-position: 41px center;
}

.sort-true.sorted
{
  background-image:url(data:image/gif;base64,R0lGODlhCgAKALMAAHFxcYKCgp2dnaampq+vr83NzeHh4f///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAkAAAgAIf/8SUNDUkdCRzEwMTIAAAUwYXBwbAIgAABtbnRyUkdCIFhZWiAH2QACABkACwAaAAthY3NwQVBQTAAAAABhcHBsAAAAAAAAAAAAAAAAAAAAAAAA9tYAAQAAAADTLWFwcGwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAtkc2NtAAABCAAAAvJkZXNjAAAD/AAAAG9nWFlaAAAEbAAAABR3dHB0AAAEgAAAABRyWFlaAAAElAAAABRiWFlaAAAEqAAAABRyVFJDAAAEvAAAAA5jcHJ0AAAEzAAAADhjaGFkAAAFBAAAACxn/1RSQwAABLwAAAAOYlRSQwAABLwAAAAObWx1YwAAAAAAAAARAAAADGVuVVMAAAAmAAACfmVzRVMAAAAmAAABgmRhREsAAAAuAAAB6mRlREUAAAAsAAABqGZpRkkAAAAoAAAA3GZyRlUAAAAoAAABKml0SVQAAAAoAAACVm5sTkwAAAAoAAACGG5iTk8AAAAmAAABBHB0QlIAAAAmAAABgnN2U0UAAAAmAAABBGphSlAAAAAaAAABUmtvS1IAAAAWAAACQHpoVFcAAAAWAAABbHpoQ04AAAAWAAAB1HJ1UlUAAAAiAAACpHBsUEwAAAAsAAACxgBZAGwAZQBpAG4AZf8AbgAgAFIARwBCAC0AcAByAG8AZgBpAGkAbABpAEcAZQBuAGUAcgBpAHMAawAgAFIARwBCAC0AcAByAG8AZgBpAGwAUAByAG8AZgBpAGwAIABHAOkAbgDpAHIAaQBxAHUAZQAgAFIAVgBCTgCCLAAgAFIARwBCACAw1zDtMNUwoTCkMOuQGnUoACAAUgBHAEIAIIJyX2ljz4/wAFAAZQByAGYAaQBsACAAUgBHAEIAIABHAGUAbgDpAHIAaQBjAG8AQQBsAGwAZwBlAG0AZQBpAG4AZQBzACAAUgBHAEIALQBQAHIAbwBmAGkAbGZukBoAIABSAEcAQgAgY8+P8GX/h072AEcAZQBuAGUAcgBlAGwAIABSAEcAQgAtAGIAZQBzAGsAcgBpAHYAZQBsAHMAZQBBAGwAZwBlAG0AZQBlAG4AIABSAEcAQgAtAHAAcgBvAGYAaQBlAGzHfLwYACAAUgBHAEIAINUEuFzTDMd8AFAAcgBvAGYAaQBsAG8AIABSAEcAQgAgAEcAZQBuAGUAcgBpAGMAbwBHAGUAbgBlAHIAaQBjACAAUgBHAEIAIABQAHIAbwBmAGkAbABlBB4EMQRJBDgEOQAgBD8EQAQ+BEQEOAQ7BEwAIABSAEcAQgBVAG4AaQB3AGUAcgBzAGEAbABuAHkAIABwAHIAbwBm/wBpAGwAIABSAEcAQgAAZGVzYwAAAAAAAAAUR2VuZXJpYyBSR0IgUHJvZmlsZQAAAAAAAAAAAAAAFEdlbmVyaWMgUkdCIFByb2ZpbGUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFhZWiAAAAAAAABadQAArHMAABc0WFlaIAAAAAAAAPNSAAEAAAABFs9YWVogAAAAAAAAdE0AAD3uAAAD0FhZWiAAAAAAAAAoGgAAFZ8AALg2Y3VydgAAAAAAAAABAc0AAHRleHQAAAAAQ29weXJpZ2h0IDIwMDcgQXBwbGUgSW5jLkMsIGFsbCByaWdodHMgcmVzZXJ2ZWQuAHNmMzIAAAAAAAEMQgAABd7///MmAAAHkgAA/ZH///ui///9owAAA9wAAMBsACwAAAAACgAKAAAEJZAMIcakQZjNtyhFxwEIIRofAookUnapu26t+6KFLYe1TgQ5VwQAOw%3D%3D);
}

.sort-false.sorted
{
   background-image:url(data:image/gif;base64,R0lGODlhCgAKALMAAHFxcYKCgp2dnaampq+vr83NzeHh4f///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAkAAAgAIf/8SUNDUkdCRzEwMTIAAAUwYXBwbAIgAABtbnRyUkdCIFhZWiAH2QACABkACwAaAAthY3NwQVBQTAAAAABhcHBsAAAAAAAAAAAAAAAAAAAAAAAA9tYAAQAAAADTLWFwcGwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAtkc2NtAAABCAAAAvJkZXNjAAAD/AAAAG9nWFlaAAAEbAAAABR3dHB0AAAEgAAAABRyWFlaAAAElAAAABRiWFlaAAAEqAAAABRyVFJDAAAEvAAAAA5jcHJ0AAAEzAAAADhjaGFkAAAFBAAAACxn/1RSQwAABLwAAAAOYlRSQwAABLwAAAAObWx1YwAAAAAAAAARAAAADGVuVVMAAAAmAAACfmVzRVMAAAAmAAABgmRhREsAAAAuAAAB6mRlREUAAAAsAAABqGZpRkkAAAAoAAAA3GZyRlUAAAAoAAABKml0SVQAAAAoAAACVm5sTkwAAAAoAAACGG5iTk8AAAAmAAABBHB0QlIAAAAmAAABgnN2U0UAAAAmAAABBGphSlAAAAAaAAABUmtvS1IAAAAWAAACQHpoVFcAAAAWAAABbHpoQ04AAAAWAAAB1HJ1UlUAAAAiAAACpHBsUEwAAAAsAAACxgBZAGwAZQBpAG4AZf8AbgAgAFIARwBCAC0AcAByAG8AZgBpAGkAbABpAEcAZQBuAGUAcgBpAHMAawAgAFIARwBCAC0AcAByAG8AZgBpAGwAUAByAG8AZgBpAGwAIABHAOkAbgDpAHIAaQBxAHUAZQAgAFIAVgBCTgCCLAAgAFIARwBCACAw1zDtMNUwoTCkMOuQGnUoACAAUgBHAEIAIIJyX2ljz4/wAFAAZQByAGYAaQBsACAAUgBHAEIAIABHAGUAbgDpAHIAaQBjAG8AQQBsAGwAZwBlAG0AZQBpAG4AZQBzACAAUgBHAEIALQBQAHIAbwBmAGkAbGZukBoAIABSAEcAQgAgY8+P8GX/h072AEcAZQBuAGUAcgBlAGwAIABSAEcAQgAtAGIAZQBzAGsAcgBpAHYAZQBsAHMAZQBBAGwAZwBlAG0AZQBlAG4AIABSAEcAQgAtAHAAcgBvAGYAaQBlAGzHfLwYACAAUgBHAEIAINUEuFzTDMd8AFAAcgBvAGYAaQBsAG8AIABSAEcAQgAgAEcAZQBuAGUAcgBpAGMAbwBHAGUAbgBlAHIAaQBjACAAUgBHAEIAIABQAHIAbwBmAGkAbABlBB4EMQRJBDgEOQAgBD8EQAQ+BEQEOAQ7BEwAIABSAEcAQgBVAG4AaQB3AGUAcgBzAGEAbABuAHkAIABwAHIAbwBm/wBpAGwAIABSAEcAQgAAZGVzYwAAAAAAAAAUR2VuZXJpYyBSR0IgUHJvZmlsZQAAAAAAAAAAAAAAFEdlbmVyaWMgUkdCIFByb2ZpbGUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFhZWiAAAAAAAABadQAArHMAABc0WFlaIAAAAAAAAPNSAAEAAAABFs9YWVogAAAAAAAAdE0AAD3uAAAD0FhZWiAAAAAAAAAoGgAAFZ8AALg2Y3VydgAAAAAAAAABAc0AAHRleHQAAAAAQ29weXJpZ2h0IDIwMDcgQXBwbGUgSW5jLkMsIGFsbCByaWdodHMgcmVzZXJ2ZWQuAHNmMzIAAAAAAAEMQgAABd7///MmAAAHkgAA/ZH///ui///9owAAA9wAAMBsACwAAAAACgAKAAAEJRBJREKZsxQDsCSGIVzZFnYTGIqktp7fG46uzAn2TAyCMPC9QAQAOw%3D%3D);
}

table td.genre{
  text-align: right;
  padding-right:5px;
}

table td.channel-number{ 
  padding-left:2px;
}

.pkg-name-holder{
  margin-bottom:6px;  
}

.label-holder{
  height:17px;
}

.show-btn{ 
  background-image: url(http://agentanswercenter.directv.com/en-us/res/system/img/chan_plus.png);
  background-position: center center;
  background-repeat: no-repeat;  
}


.show-btn-holder .pull-left,
.show-btn
{
  width:14px;
  height:13px;
  cursor:pointer;
}

.open{
  background-image: url(http://agentanswercenter.directv.com/en-us/res/system/img/chan_minus.png);
}

.show-btn-holder .current{
  margin-left:99px;
}

.show-btn-holder .gained{
  margin-left:211px;
}

.show-btn-holder  .lost{
  margin-left:215px;
}

.show-btn-holder  .requested{
  margin-left:221px;
}

.show-btn{
  margin-top:-16px;
}

.table-header{
  margin-top:-5px;
}

.pkg-name-holder .label-holder{
  margin-top:-9px;
  font-weight:bold;
}

.why {
  color: black;
  background-repeat: no-repeat;
  background-position: 49px 1px;
  width: 66px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 102px;
  left: 485px;
  font-size: 12px;
  display: none;
}

.why:hover {
  padding-right: 240px;
}

.why span {
    margin: 0 4px;
    background: #d0e4f7;
    background: -ms-linear-gradient(top, #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%);
    background: linear-gradient(to bottom, #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%);
    -pie-background: linear-gradient(#87bcea, #0a77d5);
    text-align: center;
    color: white;
    font-size: .9em;
    font-weight: bold;
    padding: 1px 4px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;    
}

.qtip-content .wrapper .code{
  width:50px;
  font-weight:bold;
}

.qtip-content hr {
  margin: 10px 0;
}

.qtip-content .wrapper{
  margin-bottom: 7px;
}

.qtip-content .wrapper.last{
  margin-bottom: 0;
}

.qtip-content .wrapper{
  width:100%;
}

.qtip-content{
  font-size:12px;
}

.saved-amt,
.pay-more-amt{
  font-weight:normal;
  font-style:italic;
  font-size:13px;
}

.saved-amt{
  color:#337c31;  
}

.pay-more-amt{
  color:#d00404;  
}

.disclaim {
  color: #e67e22;
}

.center-note {
  position: absolute;
  width: 520px;
  text-align: center;
  left: 50%;
  margin-left: -260px;
  font-weight: bold;
}

.reminder {
  top: 74px;
}

.pricing {
  top: 638px;
}

.assumehd {
  display: inline-block;
  width: 50%;
}

.assumeright {
  text-align: right;
  width: 100%;
}

.assumehd + .assumehd {
  width: 50%;
}

.growl {
  top: 10px;
  left: 50%;
  margin-left: -256px;
  width: 512px;
  font-size: 11px;
  position: absolute;
  z-index: 1983;
}

.growl-item button{
  display:none;
}


/**comment button**/

#comment_btn{
  position: absolute;
  top: 10px;
  right: 13px;
}

a.btn-feedback.btns,
span.btn-feedback.btns
{
    position: static;
    top:0;
    right:0;
}

span.btn-feedback:hover {
  background-position: -49px -192px;
}

.comment-btn span.btns {
    display: block;
    width: 44px;
    height: 16px;
    background: url(http://agentanswercenter.directv.com/en-us/res/system/img/content_btns.gif) left -192px no-repeat;
    text-indent: -9999px;    
}

.comment-btn span:hover{
     cursor: pointer;
}

.chosen-container-single .chosen-default,
.chosen-container-active .chosen-single,
.chosen-container-single .chosen-single
{
    background-color: #fff;
    color:#000;
}

.current .com.channel-number,
.requested .com.channel-number,
.gained .com.channel-number,
.lost .com.channel-number,
{
  width:28.5%;
}

.alert-info{
  padding: 2px 10px 3px;
  background-color: rgba(255,255,255,.925);
  border: #b3b3b3 solid 1px;  
  color: #111;
  z-index: 1000;  
}

.pkg-name-holder .label-holder a{
  color:#31517c;
}

.pkg-name-holder .label-holder a.expired{
  color:#ff0000;
}

.chosen-container-single .chosen-single span{
  margin-top:-2px;
}


/**comment button**/

.volumes {
  width: 150px;
  position: absolute;
  top: 22px;
  left: 50%;
  margin-left: -75px;
  font-size:13px;
}

input[type='button'] {
  position: absolute;
  top: 98px;
  right: 485px;
  background: -moz-linear-gradient(#fff,#ddd);
  background: -webkit-gradient(linear,0 0,0 bottom, from(#fff),to(#ddd));
  background: linear-gradient(#fff,#ddd);
  -pie-background: linear-gradient(#fff,#ddd);
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border: solid 1px #999;
  padding:3px 5px;     
  color: #333;
  text-shadow: 0px 1px 1px white;
}
    
input[type='button']:hover {
  background: -moz-linear-gradient(#f1f1f1,#ddd);
  background: -webkit-gradient(linear,0 0,0 bottom, from(#f1f1f1),to(#ddd));
  background: linear-gradient(#f1f1f1,#ddd);
  -pie-background: linear-gradient(#f1f1f1,#ddd);
}    

input[type='button'].default {
  -webkit-box-shadow: #ccc 0px 0px 3px;
  -moz-box-shadow: #ccc 0px 0px 3px;
  box-shadow: #ccc 0px 0px 3px;
}

.chosen-container .chosen-drop{
  top:89%;
  padding-top:2px;
  border-radius:0 0 5px 5px;  
}

.group-result{
    text-transform: uppercase;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

font[color='red'], font[color='#FF0000'], .hdsd {
  color: #006480;
}

.sdonly {
  color: #FF0000;
}

.headers2{
  width:100%;
  display:block;
  position:relative;
  vertical-align:middle;
  margin-top:8px
}

.alert{
  margin:0 4px;
  background: #d0e4f7;
  background: -ms-linear-gradient(top, #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%);
  background: linear-gradient(to bottom, #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%);
  -pie-background: linear-gradient(#87bcea, #0a77d5);
  text-align: center;
  font-size: .85em;
  font-weight: bold;
  padding: 1px 4px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  position:relative;
  color:white
}

#genreLegend{
  position:inherit;
  margin-left:20px;
  display:inline-block;
  color:black;
  background-repeat: no-repeat;
  background-position: 49px 1px;
  height: 20px;
  cursor: pointer;
  font-size: 12px;
}

#genreCodes {
  display: none;
  position: absolute;
  width: 240px;
  background-color: white;
  border: solid 1px #d2d2d2;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px #d2d2d2;
}

.code {
  width: 41px;
  font-weight: bold;
  margin-right: 15px;
  position: relative;
  padding-left: 7px;
  text-align: left;
}

.code input {
  position: absolute;
  text-align: left;
  left: -14px;
  bottom: 2px;
}

#genreLegend:hover #genreCodes, #genreLegend:focus #genreCodes {
  display: block;
}
.alert_ggp{
  height:50px;
  width:100%;
  vertical-align:middle;
  border:1px solid #dae3ec;
  background-color:#e1edf9;
}
.alert_gp{
  color:#495ecb;
  font-weight:bold;
  font-size:0.87em;
  padding:5px;
  margin-top:7px
}
.alert_p{
  display:inline-block;
  color:black;
  background-repeat: no-repeat;
  background-position: 49px 1px;
  height: 20px;
  cursor: pointer;
  font-size: 12px;
}