<!doctype html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="App">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />   
    <title>Package Compare V2</title>
    <link rel="stylesheet" href="%%pub%%system/css/bootstrap.3.1.1.css">  
    <link rel="stylesheet" href="%%pub%%system/css/jquery.qtip.min.css"> 
    <link rel="stylesheet" href="%%pub%%system/css/chosen.css"> 
    <link rel="stylesheet" href="%%pub%%system/css/growl.css"> 
    <link rel="stylesheet" href="style/style.css">
    <!--[if IE]>
    <link href="package_compare/version_two/pie/PIE.htc" rel="stylesheet" type="text/css" />
    <![endif]-->
    
    <!--intentionally placed in the head so ng-cloak will work.... please refer to https://docs.angularjs.org/api/ng/directive/ngCloak-->
    <script type="text/javascript" src="%%pub%%system/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="%%pub%%system/js/chosen_jquery.js"></script>
    <script type="text/javascript" src="%%pub%%system/js/angular.js"></script>
</head>
<body class="full" >
   
<div>

    <div class="wrapper" ng-controller="AppController" ng-init="init()">

        <!--comment button-->
        <div id="comment_btn" class="pull-right">
        </div>
        <!--comment button-->

        <!--growl notifier-->
        <div growl>
        </div>
        <!--growl notifier-->

        <div class="headers">
            <div>
                <img src="%%pub%%system/img/Logo_DTV_ATT.png">
            </div>
            <div>
                <h1 class="tool-title">Package Compare Tool</h1>
            </div>
        </div>

    <div class="border">
        <div class="headers">
            <div>
                <h2>Current Package</h2>
            </div>
            <div>
                <h2>Requested Package</h2>
            </div>
        </div>
    
        <!--reset button-->
        <button class="btn btn-inverse reset" type="reset" ng-click="reset();">
            Reset
        </button>
        <!--reset button-->
        
        <p class="why" id="genreLegend">Legend<span>?</span></p>
        
        <!--start row for package dropdowns-->
        <div class="pkgs-holder headers">
            <div>
                <select data-placeholder="Type or Select Package:" tabindex="2" ng-model="current_pkg" ng-options="current_pkg as (current_pkg.dname + ' - $' + current_pkg.price)  for current_pkg in current_pkgs" name="current_package" class="convert-from chosen-select" chosen="current_pkgs" required>
                </select>
            </div>
            <div>
                <select data-placeholder="Type or Select Package:" tabindex="2" ng-model="requested_pkg" ng-options="requested_pkg as (requested_pkg.dname + ' - $' + requested_pkg.price)  for requested_pkg in requested_pkgs" name="requested_package" class="convert-from chosen-select" chosen="requested_pkgs" required>
                </select>
            </div>
            <div class="clearfix"></div>
        </div>
        <!--ends row for package dropdowns-->
       
        <!--start row for channels count-->
        <div>
            <div class="channels-count-holder" ng-cloak ng-show="current_channels.length > 0 || gained_channels.length > 0 || lost_channels.length > 0 || requested_channels.length > 0">
                <div class="pull-left">
                    <div class="current count" ng-click="show_current_channels = Utility.show(show_current_channels)" ng-cloak>{{current_channels.length}}</div>
                </div>
                <div class="pull-left">
                    <div class="gained count" ng-click="show_gained_channels = Utility.show(show_gained_channels)" ng-cloak>{{gained_channels.length}}</div>
                </div>
                <div class="pull-left">
                    <div class="lost count" ng-click="show_lost_channels = Utility.show(show_lost_channels)" ng-cloak>{{lost_channels.length}}</div>
                </div>
                <div class="pull-left">
                    <div class="requested count" ng-click="show_requested_channels = Utility.show(show_requested_channels)" ng-cloak>{{requested_channels.length}}</div>
                </div>
                <div class="clearfix"></div> 
            </div>           
        </div>
        <!--end row for channels count-->
        
        <!--start of row for show-btn-->
        <div class="show-btn-holder">
            <div class="current pull-left">
                <div class="show-btn" ng-click="show_current_channels = Utility.show(show_current_channels)" ng-class="{open: show_current_channels}" ng-show="current_channels.length > 0" ng-cloak></div>
            </div>
            <div class="gained pull-left">
                <div class="show-btn" ng-click="show_gained_channels = Utility.show(show_gained_channels)" ng-class="{open: show_gained_channels}" ng-show="gained_channels.length > 0" ng-cloak></div>
            </div>
            <div class="lost pull-left">
                <div class="show-btn" ng-click="show_lost_channels = Utility.show(show_lost_channels)" ng-class="{open: show_lost_channels}" ng-show="lost_channels.length > 0" ng-cloak></div>
            </div>
            <div class="requested pull-left">
                <div class="show-btn" ng-click="show_requested_channels = Utility.show(show_requested_channels)" ng-class="{open: show_requested_channels}" ng-show="requested_channels.length > 0" ng-cloak></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!--end of row for show-btn-->
        
        <!--start row for package labels-->        
        <div class="pkg-name-holder">
            <div class="table-header label pull-left" ng-cloak>
                <div class="current label-holder" ng-show="show_current_channels">
                    <a title="Click to open this package main page." onClick="window.open('{{current_pkg.url}}', '_blank');" href="#">
                        {{current_pkg.name}}
                        </a>
                     <span ng-show="current_pkg.status == 'Expired'"> - </span>
                    <a href="/en-us/res/programming/expired_packages.html" class="expired" ng-show="current_pkg.status == 'Expired'">Expired</a>
                </div>               
            </div>
            <div class="table-header label double pull-left">
                <div class="label-holder saved-amt" ng-show="saved_amt > 0" ng-cloak>
                    Customer will save <span class="price">&#36;<span ng-bind-html-unsafe="saved_amt"></span></span>
                </div>
                <div class="label-holder pay-more-amt" ng-show="pay_more_amt > 0" ng-cloak>
                    Customer will pay <span class="price">&#36;<span ng-bind-html-unsafe="pay_more_amt"></span></span> more
                </div>
            </div>          
            <div class="table-header label pull-left">
                <div class="label-holder" ng-cloak ng-show="show_requested_channels">
                    <a title="Click to open this package main page." onClick="window.open('{{requested_pkg.url}}', '_blank');" href="#">
                        {{requested_pkg.name}}
                        </a>
                     <span ng-show="requested_pkg.status == 'Expired'"> - </span>
                    <a href="/en-us/res/programming/expired_packages.html" class="expired" ng-show="requested.status == 'Expired'">Expired</a>
                </div>                
            </div>
            <div class="clearfix"></div>
        </div>
        <!--end row for package labels-->
        
        <!--start row for table headers-->
        <div ng-cloak ng-show="current_channels.length > 0 || gained_channels.length > 0 || lost_channels.length > 0 || requested_channels.length > 0">
            <div class="table-header current pull-left">
                <div class="table-header-inner" ng-cloak ng-show="current_channels.length > 0 && show_current_channels">
                    <div class="channel-number pull-left" >
                       <a ng-class="{'current channelnumber sort-true sorted': sorted_column == 'current channelnumber sort-true', 'current channelnumber sort-false sorted': sorted_column == 'current channelnumber sort-false'}" href="#" title="Click to sort." ng-click="reverse=!reverse;current_channels = sort('current', current_channels, 'channelnumber', reverse)">#</a> 
                    </div>
                    <div class="channel-name pull-left">
                        <a ng-class="{'current channelname sort-true sorted': sorted_column == 'current channelname sort-true', 'current channelname sort-false sorted': sorted_column == 'current channelname sort-false'}" href="#" title="Click to sort." ng-click="reverse=!reverse;current_channels = sort('current', current_channels, 'channelname',reverse)">Channel Name</a>
                    </div>                  
                    <div class="clearfix">                        
                    </div>
                </div>
            </div>
            <div class="table-header gained pull-left">
                <div class="table-header-inner" ng-cloak ng-show="gained_channels.length > 0 && show_gained_channels">
                    <div class="channel-number pull-left">
                       <a ng-class="{'sort-true sorted': sorted_column == 'gained channelnumber sort-true', 'sort-false sorted': sorted_column == 'gained channelnumber sort-false'}" href="#" title="Click to sort." ng-click="reverse=!reverse;gained_channels = sort('gained', gained_channels, 'channelnumber', reverse)">#</a>
                    </div>
                    <div class="channel-name pull-left">
                        <a ng-class="{'sort-true sorted': sorted_column == 'gained channelname sort-true', 'sort-false sorted': sorted_column == 'gained channelname sort-false'}" href="#" title="Click to sort." ng-click="reverse=!reverse;gained_channels = sort('gained', gained_channels, 'channelname',reverse)">Channel Name</a>
                    </div>
                    <div class="genre pull-left">
                        <a ng-class="{'sort-true sorted': sorted_column == 'gained genre sort-true', 'sort-false sorted': sorted_column == 'gained genre sort-false'}" href="#" title="Click to sort." ng-click="reverse=!reverse;gained_channels = sort('gained', gained_channels, 'genre',reverse)">Genre</a>
                    </div>
                    <div class="clearfix">                        
                    </div>
                </div>
            </div>
            <div class="table-header lost pull-left">
                <div class="table-header-inner" ng-cloak ng-show="lost_channels.length > 0  && show_lost_channels">
                    <div class="channel-number pull-left">
                       <a ng-class="{'sort-true sorted': sorted_column == 'lost channelnumber sort-true', 'sort-false sorted': sorted_column == 'lost channelnumber sort-false'}" href="#" title="Click to sort." ng-click="reverse=!reverse;lost_channels = sort('lost', lost_channels, 'channelnumber', reverse)">#</a>
                    </div>
                    <div class="channel-name pull-left">
                       <a ng-class="{'sort-true sorted': sorted_column == 'lost channelname sort-true', 'sort-false sorted': sorted_column == 'lost channelname sort-false'}" href="#" title="Click to sort." ng-click="reverse=!reverse;lost_channels = sort('lost', lost_channels, 'channelname',reverse)">Channel Name</a>
                    </div>
                    <div class="genre pull-left">
                        <a ng-class="{'sort-true sorted': sorted_column == 'lost genre sort-true', 'sort-false sorted': sorted_column == 'lost genre sort-false'}" href="#" title="Click to sort." ng-click="reverse=!reverse;lost_channels = sort('lost', lost_channels, 'genre',reverse)">Genre</a>
                    </div>
                    <div class="clearfix">                        
                    </div>
                </div>
            </div>
             <div class="table-header requested pull-left">
                <div class="table-header-inner" ng-cloak ng-show="requested_channels.length > 0  && show_requested_channels">
                    <div class="channel-number pull-left">
                       <a ng-class="{'sort-true sorted': sorted_column == 'requested channelnumber sort-true', 'sort-false sorted': sorted_column == 'requested channelnumber sort-false'}" href="#" title="Click to sort." ng-click="reverse=!reverse;requested_channels = sort('requested', requested_channels, 'channelnumber', reverse)">#</a>
                    </div>
                    <div class="channel-name pull-left">
                       <a ng-class="{'sort-true sorted': sorted_column == 'requested channelname sort-true', 'sort-false sorted': sorted_column == 'requested channelname sort-false'}" href="#" title="Click to sort." ng-click="reverse=!reverse;requested_channels = sort('requested', requested_channels, 'channelname',reverse)">Channel Name</a>
                    </div>                   
                    <div class="clearfix">                        
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!--end row for table headers-->
        
        <!--start row for channel tables-->
        <div>
            <div class="pull-left channels-table-holder current-channels">
                <div class="table-wrapper" ng-cloak ng-show="current_channels.length > 0  && show_current_channels">
                    <table>
                        <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="channel in current_channels">
                            <td class="channel-number" ng-bind-html-unsafe="channel.channelnumber" width="24"></td>
                            <td width="60"><a onClick="window.open('{{UrlFormatter.formatUrl(channel.url)}}', '_blank');" href="#"><font ng-bind-html-unsafe="channel.channelname"></font></a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="pull-left channels-table-holder gained-channels">
                <div class="table-wrapper" ng-cloak  ng-show="gained_channels.length > 0 && show_gained_channels">
                    <table>
                        <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="channel in gained_channels">
                            <td class="channel-number" ng-bind-html-unsafe="channel.channelnumber" width="24"></td>
                            <td width="60"><a onClick="window.open('{{UrlFormatter.formatUrl(channel.url)}}', '_blank');" href="#"><font ng-bind-html-unsafe="channel.channelname"></font></a></td>
                            <td class="genre" ng-bind-html-unsafe="channel.genre" width="20"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="pull-left channels-table-holder lost-channels">
                <div class="table-wrapper" ng-cloak  ng-show="lost_channels.length > 0  && show_lost_channels">
                    <table>                    
                        <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="channel in lost_channels">
                            <td class="channel-number" ng-bind-html-unsafe="channel.channelnumber" width="24"></td>
                            <td width="60"><a onClick="window.open('{{UrlFormatter.formatUrl(channel.url)}}', '_blank');" href="#"><font ng-bind-html-unsafe="channel.channelname"></font></a></td>
                            <td class="genre" ng-bind-html-unsafe="channel.genre" width="20"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="pull-left channels-table-holder requested-channels">
                <div class="table-wrapper" ng-cloak  ng-show="requested_channels.length > 0 && show_requested_channels">
                    <table>                  
                        <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="channel in requested_channels">
                            <td class="channel-number" ng-bind-html-unsafe="channel.channelnumber" width="24"></td>
                            <td width="60"><a onClick="window.open('{{UrlFormatter.formatUrl(channel.url)}}', '_blank');" href="#"><font ng-bind-html-unsafe="channel.channelname"></font></a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="clearfix"></div> 
        </div>      
        <!--end row for channel tables-->
        
        <div id="genreCodes" style="display:none">
            <div class="wrapper last">
               <div class="pull-left code">*</div>
               <div class="pull-left title"><a href="/en-us/res/ace/vod_index.html">DIRECTV On Demand</a></div>
               <div style="clear:both"></div>
            </div>
            <div class="wrapper last">
               <div class="pull-left code">&#171;</div>
               <div class="pull-left title"><a href="/en-us/res/programming/72hr_rewind_restart.html">Rewind &amp; Restart</a></div>
               <div style="clear:both"></div>
            </div>
            <hr />
            <div class="wrapper">
               <div class="pull-left code">FAM</div>
               <div class="pull-left title">Family</div>
               <div style="clear:both"></div>
            </div>
            <div class="wrapper">
               <div class="pull-left code">INT</div>
               <div class="pull-left title">International</div>
               <div style="clear:both"></div>
            </div>
            <div class="wrapper">
               <div class="pull-left code">LIF</div>
               <div class="pull-left title">Lifestyle</div>
               <div style="clear:both"></div>
            </div>
            <div class="wrapper">
               <div class="pull-left code">MOV</div>
               <div class="pull-left title">Movie</div>
               <div style="clear:both"></div>
            </div>
            <div class="wrapper">
               <div class="pull-left code">NEW</div>
               <div class="pull-left title">News</div>
               <div style="clear:both"></div>
            </div>
            <div class="wrapper">
               <div class="pull-left code">SNC</div>
               <div class="pull-left title">Sonic</div>
               <div style="clear:both"></div>
            </div>
            <div class="wrapper">
               <div class="pull-left code">SPA</div>
               <div class="pull-left title">Spanish</div>
               <div style="clear:both"></div>
            </div>
            <div class="wrapper last">
               <div class="pull-left code">SPT</div>
               <div class="pull-left title">Sports</div>
               <div style="clear:both"></div>
            </div>          
        </div><!--end of div#genreCodes-->
    </div>
    </div>
    
    <script type="text/javascript" src="%%pub%%system/js/angular-sanitize.js"></script>
    <script type="text/javascript" src="%%pub%%rover_tools/channel_list/version_two/js/unit_test/polyfills.js"></script>
    <script type="text/javascript" src="%%pub%%system/js/angular-growl.js"></script>
    <script type="text/javascript" src="%%pub%%system/js/underscore.js"></script>     
    <script type="text/javascript" src="%%pub%%system/js/jquery.qtip.min.js"></script>
    <script type="text/javascript" src="script/app.js"></script>
    <script type="text/javascript" src="%%pub%%rover_tools/channel_list/version_two/data/channels.js"></script>
    <script type="text/javascript" src="script/class.js"></script>
    <script type="text/javascript" src="controller/app_controller.js"></script>   
</body>
</html>
